@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --spacing-none: 0;
  --spacing-xs: 0.125rem;
  --spacing-sm: 0.25rem;
  --spacing-md: 0.375rem;
  --spacing-lg: 0.5rem;
  --spacing-xl: 0.75rem;
  --spacing-2xl: 1rem;
  --spacing-3xl: 1.5rem;
  --spacing-4xl: 2rem;
  --spacing-5xl: 3rem;
  --spacing-6xl: 4rem;
  --spacing-7xl: 5.5rem;

  --text-color-primary-100: var(--text-primary-100);
  --text-color-primary-200: var(--text-primary-200);
  --text-color-primary-300: var(--text-primary-300);
  --text-color-primary-400: var(--text-primary-400);
  --text-color-primary-500: var(--text-primary-500);

  --text-color-secondary-100: var(--text-secondary-100);
  --text-color-secondary-200: var(--text-secondary-200);
  --text-color-secondary-300: var(--text-secondary-300);
  --text-color-secondary-400: var(--text-secondary-400);
  --text-color-secondary-500: var(--text-secondary-500);

  --background-color-primary-100: var(--background-primary-100);
  --background-color-primary-200: var(--background-primary-200);
  --background-color-primary-300: var(--background-primary-300);
  --background-color-primary-400: var(--background-primary-400);
  --background-color-primary-500: var(--background-primary-500);
  --background-color-primary-600: var(--background-primary-600);

  --background-color-secondary-100: var(--background-secondary-100);
  --background-color-secondary-200: var(--background-secondary-200);
  --background-color-secondary-300: var(--background-secondary-300);
  --background-color-secondary-400: var(--background-secondary-400);
  --background-color-secondary-500: var(--background-secondary-500);
  --background-color-secondary-600: var(--background-secondary-600);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --text-primary-100: hsla(0, 0%, 0%, 1);
  --text-primary-200: hsla(0, 0%, 47%, 1);
  --text-primary-300: hsla(0, 0%, 60%, 1);
  --text-primary-400: hsla(0, 0%, 75%, 1);
  --text-primary-500: hsla(0, 0%, 100%, 1);

  --text-secondary-100: hsla(0, 0%, 100%, 1);
  --text-secondary-200: hsla(0, 0%, 75%, 1);
  --text-secondary-300: hsla(0, 0%, 60%, 1);
  --text-secondary-400: hsla(0, 0%, 47%, 1);
  --text-secondary-500: hsla(0, 0%, 0%, 1);

  --background-primary-100: hsla(0, 0%, 100%, 1);
  --background-primary-200: hsla(0, 0%, 97%, 1);
  --background-primary-300: hsla(0, 0%, 95%, 1);
  --background-primary-400: hsla(0, 0%, 92%, 1);
  --background-primary-500: hsla(0, 0%, 89%, 1);
  --background-primary-600: hsla(0, 0%, 86%, 1);

  --background-secondary-100: hsla(0, 0%, 0%, 1);
  --background-secondary-200: hsla(0, 0%, 6%, 1);
  --background-secondary-300: hsla(0, 0%, 10%, 1);
  --background-secondary-400: hsla(0, 0%, 16%, 1);
  --background-secondary-500: hsla(0, 0%, 21%, 1);
  --background-secondary-600: hsla(0, 0%, 26%, 1);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  --text-primary-100: hsla(0, 0%, 100%, 1);
  --text-primary-200: hsla(0, 0%, 75%, 1);
  --text-primary-300: hsla(0, 0%, 60%, 1);
  --text-primary-400: hsla(0, 0%, 47%, 1);
  --text-primary-500: hsla(0, 0%, 0%, 1);

  --text-secondary-100: hsla(0, 0%, 0%, 1);
  --text-secondary-200: hsla(0, 0%, 47%, 1);
  --text-secondary-300: hsla(0, 0%, 60%, 1);
  --text-secondary-400: hsla(0, 0%, 75%, 1);
  --text-secondary-500: hsla(0, 0%, 100%, 1);

  --background-primary-100: hsla(0, 0%, 0%, 1);
  --background-primary-200: hsla(0, 0%, 6%, 1);
  --background-primary-300: hsla(0, 0%, 10%, 1);
  --background-primary-400: hsla(0, 0%, 16%, 1);
  --background-primary-500: hsla(0, 0%, 21%, 1);
  --background-primary-600: hsla(0, 0%, 26%, 1);

  --background-secondary-100: hsla(0, 0%, 100%, 1);
  --background-secondary-200: hsla(0, 0%, 97%, 1);
  --background-secondary-300: hsla(0, 0%, 95%, 1);
  --background-secondary-400: hsla(0, 0%, 92%, 1);
  --background-secondary-500: hsla(0, 0%, 89%, 1);
  --background-secondary-600: hsla(0, 0%, 86%, 1);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}